# Bibliotecas

In [171]:
# ! pip install xgboost

In [172]:
import xgboost as xgb
import pandas as pd
import numpy as np
from sklearn.model_selection import (train_test_split,
                                     cross_val_score)
from sklearn import metrics
import seaborn as sns

# Dataset

In [173]:
df = sns.load_dataset('iris')

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [174]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [175]:
df['species'] = df['species'].map({'setosa': 0,
                                   'versicolor': 1,
                                   'virginica': 2})

df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

É um problema de classificação, pois a variável *target* é discreta e contém 3 classes

* setosa
* versicolor
* virginica

In [176]:
X = df.drop(['species'],  axis=1)

y = df['species']

## Split treino e teste

In [177]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.3)

# Modelos classificadores

In [178]:
classificador_xgboost = xgb.XGBClassifier()

In [179]:
# Cross validation apenas para comparação entre modelos
resultado_cv = cross_val_score(classificador_xgboost, X_train, y_train)

resultado_cv.mean()

0.9523809523809523

## Tunando o classificador

In [180]:
classificador_xgboost_depth = xgb.XGBClassifier(max_depth=2) # Altera a altura máxima das árvores

resultado_cv_depth = cross_val_score(classificador_xgboost_depth, X_train, y_train)

resultado_cv_depth.mean()

0.9428571428571428

In [181]:
classificador_xgboost_dart = xgb.XGBClassifier(booster='dart')

resultado_cv_dart = cross_val_score(classificador_xgboost_dart, X_train, y_train)

resultado_cv_dart.mean()

0.9523809523809523

In [182]:
classificador_xgboost_gblinear = xgb.XGBClassifier(booster='gblinear')

resultado_cv_gblinear = cross_val_score(classificador_xgboost_gblinear, X_train, y_train)

resultado_cv_gblinear.mean()

0.6952380952380952

In [183]:
classificador_xgboost_gbtree = xgb.XGBClassifier(booster='gbtree')

resultado_cv_gbtree = cross_val_score(classificador_xgboost_gbtree, X_train, y_train)

resultado_cv_gbtree.mean()

0.9523809523809523

# Aplicação do melhor modelo

In [184]:
melhor_modelo = classificador_xgboost_dart

melhor_modelo.fit(X_train, y_train)

XGBClassifier(booster='dart', objective='multi:softprob')

# Predição de espécies

In [185]:
pred = melhor_modelo.predict(X_test)

Total de acertos

In [186]:
acertos = (pred == y_test).sum()

acertos

44

In [187]:
tamanho_teste = len(y_test)

tamanho_teste

45

In [188]:
acuracia = acertos / tamanho_teste

acuracia

0.9777777777777777